doctype html
html(lang="en")
    head
        title Co-mentor Project - #{pageTitle ? pageTitle : ""}
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        block style

    body
        include header.pug
        main
            if message
                h1 ※ #{message}
            block content