doctype html
html(lang="en")
    head
        title Co-mentor Project
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        block style

    body
        include header.pug
        main
            block content