doctype html
html(lang="en")
    head
        title Co-mentor Project #{pageTitle ? `- ${pageTitle}` : ""}
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        block style

    body
        include header.pug
        main
            if message
                h1 ※ #{message}
            if userAuthFail
                h1 You have approached to page that require authentication. Please log in.
            block content