block style
    style
        include ../style/styles.scss

header
    nav
        if(currentUser)
            h4 #{currentUser} on duty
        ul
            li
                a(href="/") Home
            if(!loggedIn)
                li
                    a(href="/login") Log In
                li
                    a(href="/join") Join
            else
                li
                    a(href="/logout") Log Out
            li
                a(href="/data") Data