block style
    style
        include ../style/global.scss

header
    nav
        ul
            li
                a(href="/") Home
            li
                a(href="/login") Log In
            li
                a(href="/join") Join
            li
                a(href="/user") User
            li
                a(href="/data") Data
            li
                a(href="/data/anyData") DataDetails