mixin enrollChoose()
    div.login
        div.sign_container
            a(href=`/join/company` class="sign_link")
                div
                    span enroll by company
                div.sign_icon
                    i(class="bx bx-briefcase icon")
        div.sign_container
            a(href=`/join/workshop` class="sign_link")
                div
                    span enroll by workshop
                divs.sign_icon
                    i(class="bx bx-network-chart icon")