mixin signBox(signType, currentCompany, joinType)
    div.login
        form.login_form(method="POST")
            span Username
            div.login_form_provision
                div.login_form_text
                    i(class="bx bx-user icon")
                input.login_form_input(name="username" type="text" value="" required minlength=2 maxlength=12)
            span Password
            div.login_form_provision
                div.login_form_text
                    i(class="bx bx-key icon")
                input.login_form_input(name="password" type="password" value="" required minlength=2 maxlength=16)
            if(signType === "Sign On")
                span Password Re-check
                div.login_form_provision
                    div.login_form_text
                        i(class="bx bx-key icon")
                    input.login_form_input(name="passwordRecheck" type="password" value="" required minlength=2 maxlength=16)
                span Business registration number
                div.login_form_provision
                    div.login_form_text
                        i(class="bx bx-code icon")
                    input.login_form_input(name="signCode" value="" required minlength=12 maxlength=12)
                span Postcode
                div.login_form_provision
                    div.login_form_text
                        i(class="bx bx-code post")
                    input.login_form_input(name="postcode" value="" required minlength=5 maxlength=5)
                if(joinType === "workshop")
                    span Workshop Name
                    div.login_form_provision
                        div.login_form_text
                            i(class="bx bx-user-pin icon")
                        input.login_form_input(name="workshopName" value="" required minlength=2 maxlength=12)
                    div Choice company you belong to
                    select(name="upperChoice" class="login_form_provision")
                        each data in currentCompany
                            option(name=`${data}` value=`${data}`) #{data}
            div.login_sign
                input.login_sign_input(type="submit" value=`${ signType }`)
        div.sign_box
            if(signType === "Sign On")
                a(href="/login")
                    div.sing_box_child To Log in

            if(signType === "Log in")
                div.sing_box_child
                    a(href="/join") To Sign On