extends base/base

block content
    form(method="POST" enctype="multipart/form-data" class="file_add_form")
        if(detailed)
            div.form_text_container
                div.fomr_text_bigtext Edit File
            div.form_text_container
                div.form_text_smalltext Current File
                div.form_text_smalltext #{detailed.attach.name ? detailed.attach.name : "없음"}
        else
            div.form_text_container
                div.form_text_smalltext To enroll workplace, upload xlsx file.

        div.form_attach
            div.form_attach_attachCont
                label.form_attach_label(for="attach")
                input(name="attach" type="file" accept=".csv, .xlsx" class="form_attach_input")

            input(type="submit", value=`${ detailed ? "Edit" : "Submit" }` class="form_submit")