extends base/base
include mixins/company

block content
    div.tableTop
        table
            thead
                tr
                    th
                        input(type="checkbox")
                    th 회사
                    th 회사 코드
                    th 업종
                    th 매출액
                    th 세부정보

            each data in dataFrame
                +company(data)
            else
                li There's something wrong in data, sorry;
