extends base/base
include mixins/company
include mixins/pages
include mixins/sortBox

block content
    if (dataFrame[0])
        div.tableTop
            table
                thead
                    tr
                        th
                            input(type="checkbox")
                        th 사업장명
                        th 사업자등록번호
                        th 사업장 업종
                        th 세부정보
                        th 엑셀파일

                each data in dataFrame
                    +company(data)
                else
                    li There's something wrong in data, sorry;
    else
        h2 there is no data;
    if(page)
        div.pageContainer
            +pages(page, queryString)


    //div.oath_box
        a(href="/data/add") Add Data
    //div.sort_box
        +sortBox(pickQuery)
