nav {
  display: flex;
  justify-content: right;
  align-items: center;
}

.tableTop{
  display: flex;
  justify-content: center;
  align-items: center;
}

.multiple_td{
  display: flex;
  justify-content: center;
  align-items: self-start;
  flex-direction: column;
}

.detailed_top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  height: 40vh;
  border: 2px solid darkolivegreen;

  .detailed_button_container{
    background-color: red;
  }
  .detailed_button{
    width: 10%;
    height: 15%;
  }
}

.redBox{
  width: 80px;
  color: #f47070;
  font-weight: 600;
}
.blueBox{
  width: 80px;
  color : #276cf7;
  font-weight: 600;
}